{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "List all accounts" %}

{% block content %}
    <h1>Account Information</h1>
    <br>
    <p>First Name: <strong>{{ account.FirstName }}</strong></p>
    <p>Last Name: <strong>{{ account.LastName }}</strong></p>
    <p>E-mail: <strong>{{ account.Email }}</strong></p>
    <p>Password: <strong>{{ account.Password }}</strong></p>

    <br>
    <a href="{{ path('mongo_list_accounts') }}">List all accounts</a>
{% endblock %}

{% set code = code(_self) %}
