{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "List all accounts" %}

{% block content %}
    <h1>List All Accounts</h1>
    <br>
    <ul>
        {% for account in accounts %}
            <li>
                <a href="{{ path('mongo_account_info', {'id': account.Id}) }}">{{ account.FirstName }} {{ account.LastName }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% set code = code(_self) %}
