{{ include('AcmeDemoBundle:Secured:header.html.twig') }}

<br />

<div class="container">

    <div class="row">

        <div class="col-sm-4 col-sm-offset-4">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h1 class="panel-title">Login</h1>
                </div><!-- /.panel-heading -->

                <div class="panel-body">

                    {% if error %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endif %}

                    <form action="{{ path("_security_check") }}" method="post" id="login">

                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="text" name="_username" id="email" class="form-control" placeholder="user@server.com" value="{{ last_username }}" />
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="_password" id="password" class="form-control" placeholder="******" />
                        </div><!-- /.form-group -->

                        <button type="submit" class="btn btn-primary btn-block">Login</button>

                    </form>

                </div><!-- /.panel-body -->

                <div class="panel-footer text-center">
                    <span>Don't have an account? <a href="{{ url('_demo_register') }}">Click here to register.</a></span>
                </div><!-- /.panel-footer -->

            </div><!-- /.panel -->

        </div><!-- /.col-* -->

    </div><!-- /.row -->

</div><!-- /.panel-container -->

{{ include('AcmeDemoBundle:Secured:footer.html.twig') }}