{{ include('AcmeDemoBundle:Secured:header.html.twig') }}

<br />

<div class="container">

    <div class="row">

        <div class="col-sm-4 col-sm-offset-4">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h1 class="panel-title">Register</h1>
                </div><!-- /.panel-heading -->

                <div class="panel-body">

                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                    <div class="form-group">
                        {{ form_label(form.first_name) }}
                        {% if form.first_name.vars.errors|length > 0 %}
                            <div class="alert alert-danger">{{ form_errors(form.first_name) }}</div>
                        {% endif %}
                        {{ form_widget(form.first_name) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.last_name) }}
                        {% if form.last_name.vars.errors|length > 0 %}
                            <div class="alert alert-danger">{{ form_errors(form.last_name) }}</div>
                        {% endif %}
                        {{ form_widget(form.last_name) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {% if form.email.vars.errors|length > 0 %}
                            <div class="alert alert-danger">{{ form_errors(form.email) }}</div>
                        {% endif %}
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="row">
                        <div class="col-xs-6">

                            <div class="form-group">
                                {{ form_label(form.password.first) }}
                                {% if form.password.first.vars.errors|length > 0 %}
                                    <div class="alert alert-danger">{{ form_errors(form.password.first) }}</div>
                                {% endif %}
                                {{ form_widget(form.password.first) }}
                            </div>
                        </div><!-- /.col-* -->
                        <div class="col-xs-6">
                            <div class="form-group">{{ form_row(form.password.second) }}</div>
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->

                    {{ form_end(form) }}

                </div><!-- /.panel-body -->

                <div class="panel-footer text-center">
                    <span>Already have an account? <a href="{{ url('_demo_login') }}">Click here to login.</a></span>
                </div><!-- /.panel-footer -->

            </div><!-- /.panel -->

        </div><!-- /.col-* -->

    </div><!-- /.row -->


</div><!-- /.panel-container -->

{{ include('AcmeDemoBundle:Secured:footer.html.twig') }}