<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>This is my first controller</title>
</head>
<body>
    <h1>Hello world!</h1>
    <p>My first controller is working fine.</p>
</body>
</html>