<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>


{% if error is defined %}
    <div>{{ error }}</div>
{% endif %}

<form action="{{ path("admin_login_check") }}" method="post" id="login">
    <div>
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" />
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
    </div>

    <input type="submit" value="Login" />
</form>

</body>
</html>